## Preprocessing

In [190]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [191]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [192]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [193]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [194]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']
application_types_to_replace = ['T14', 'T25', 'T15', 'T29', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: APPLICATION_TYPE, dtype: int64

In [195]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [196]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
#Filter those with value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [197]:
# Choose a cutoff value and create a list of classifications to be replaced
# Filter the counts to only include those with counts less than or equal to 1
filtered_counts_less_than_2 = classification_counts[classification_counts <= 2]

# Create a list of classifications to be replaced
classifications_to_replace_less_than_2 = filtered_counts_less_than_2.index.tolist()

# Replace in dataframe
for cls in classifications_to_replace_less_than_2:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
Other       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
Name: CLASSIFICATION, dtype: int64

In [198]:
# Convert categorical data to numeric with `pd.get_dummies`
# Categorical columns
categorical_columns = ['APPLICATION_TYPE', 'CLASSIFICATION','ORGANIZATION','USE_CASE','AFFILIATION','SPECIAL_CONSIDERATIONS','INCOME_AMT']

# Convert categorical columns to numeric using one-hot encoding
df_dummies = pd.get_dummies(application_df, columns=categorical_columns)

In [199]:
application_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [200]:
df_dummies.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T12', 'APPLICATION_TYPE_T13',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T2', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'APPLICATION_TYPE_T9',
       'CLASSIFICATION_C0', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C1230', 'CLASSIFICATION_C1235', 'CLASSIFICATION_C1237',
       'CLASSIFICATION_C1238', 'CLASSIFICATION_C1240', 'CLASSIFICATION_C1250',
       'CLASSIFICATION_C1257', 'CLASSIFICATION_C1260', 'CLASSIFICATION_C1270',
       'CLASSIFICATION_C1278', 'CLASSIFICATION_C1280', 'CLASSIFICATION_C1300',
       'CLASSIFICATION_C1400', 'CLASSIFICATION_C1500', 'CLASSIFICATION_C1600',
       'CLASSIFICATION_C1700', 'CLASSIFICATION_C1720', 'CLASSIFICATION_C1800',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C2300',
       'CLASSIFICATION_C2400', 'CLASSIFICATION_C2700', 'CLASSIFICATION_C2710',
       'CLASSIFICATION_C2800', 'CLASSIFICATION_C3000', 'CLASSIFICATION_C4000',
       'CLASSIFICATION_C4100', 'CLASSIFICATION_C5000', 'CLASSIFICATION_C6000',
       'CLASSIFICATION_C7000', 'CLASSIFICATION_C7100', 'CLASSIFICATION_C7120',
       'CLASSIFICATION_C7200', 'CLASSIFICATION_C7210', 'CLASSIFICATION_C8000',
       'CLASSIFICATION_C8200', 'CLASSIFICATION_Other',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'SPECIAL_CONSIDERATIONS_N',
       'SPECIAL_CONSIDERATIONS_Y', 'INCOME_AMT_0', 'INCOME_AMT_1-9999',
       'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999',
       'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999',
       'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M'],
      dtype='object')

In [201]:
# Split our preprocessed data into our features and target arrays
X = df_dummies.drop('IS_SUCCESSFUL', axis=1)
y = df_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [202]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [203]:
# Define the model - deep neural net i.e. the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
# Using 'relu' as the activation function and 80 neurons
nn.add(tf.keras.layers.Dense(units=100, activation='relu', input_dim=input_features))

# Second hidden layer
# Using 'relu' as the activation function and 30 neurons
nn.add(tf.keras.layers.Dense(units=100, activation='relu'))

# Third hidden layer
# Using 'relu' as the activation function and 30 neurons
nn.add(tf.keras.layers.Dense(units=100, activation='relu'))

# Fourth hidden layer
# Using 'relu' as the activation function and 30 neurons
nn.add(tf.keras.layers.Dense(units=100, activation='relu'))

# Fifth hidden layer
# Using 'tanh' as the activation function and 30 neurons
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
# Using 'sigmoid' as the activation function because this is a binary classification problem
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_35 (Dense)            (None, 100)               8300

 dense_36 (Dense)            (None, 100)               10100

 dense_37 (Dense)            (None, 100)               10100

 dense_38 (Dense)            (None, 100)               10100

 dense_39 (Dense)            (None, 30)                3030

 dense_40 (Dense)            (None, 1)                 31

=================================================================
Total params: 41,661
Trainable params: 41,661
Non-trainable params: 0
_________________________________________________________________

In [204]:
# Compile the model
nn.compile(optimizer='adam',
           loss='binary_crossentropy',
           metrics=['accuracy'])

In [205]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=60)

Epoch 1/60
858/858 [==============================] - 4s 3ms/step - loss: 0.5640 - accuracy: 0.7221
Epoch 2/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5519 - accuracy: 0.7313
Epoch 3/60
858/858 [==============================] - 4s 4ms/step - loss: 0.5486 - accuracy: 0.7310
Epoch 4/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7331
Epoch 5/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5449 - accuracy: 0.7334
Epoch 6/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 7/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 8/60
858/858 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7351
Epoch 9/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7346
Epoch 10/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7364
Epoch 11/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7363
Epoch 12/60
858/858 [==============================] - 4s 4ms/step - loss: 0.5401 - accuracy: 0.7363
Epoch 13/60
858/858 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 14/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7372
Epoch 15/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7365
Epoch 16/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7376
Epoch 17/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5371 - accuracy: 0.7368
Epoch 18/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5361 - accuracy: 0.7378
Epoch 19/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5359 - accuracy: 0.7392
Epoch 20/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7384
Epoch 21/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7389
Epoch 22/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 23/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7385
Epoch 24/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7395
Epoch 25/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5350 - accuracy: 0.7377
Epoch 26/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7395
Epoch 27/60
858/858 [==============================] - 3s 4ms/step - loss: 0.5346 - accuracy: 0.7391
Epoch 28/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5346 - accuracy: 0.7383
Epoch 29/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7394
Epoch 30/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7400
Epoch 31/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7403
Epoch 32/60
858/858 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7401
Epoch 33/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5341 - accuracy: 0.7405
Epoch 34/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7398
Epoch 35/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5323 - accuracy: 0.7400
Epoch 36/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5319 - accuracy: 0.7400
Epoch 37/60
858/858 [==============================] - 4s 4ms/step - loss: 0.5327 - accuracy: 0.7399
Epoch 38/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7389
Epoch 39/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7405
Epoch 40/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7409
Epoch 41/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5340 - accuracy: 0.7391
Epoch 42/60
858/858 [==============================] - 4s 4ms/step - loss: 0.5341 - accuracy: 0.7383
Epoch 43/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 44/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7407
Epoch 45/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5318 - accuracy: 0.7404
Epoch 46/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5320 - accuracy: 0.7410
Epoch 47/60
858/858 [==============================] - 4s 4ms/step - loss: 0.5321 - accuracy: 0.7411
Epoch 48/60
858/858 [==============================] - 5s 6ms/step - loss: 0.5322 - accuracy: 0.7402
Epoch 49/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5314 - accuracy: 0.7409
Epoch 50/60
858/858 [==============================] - 4s 4ms/step - loss: 0.5322 - accuracy: 0.7417
Epoch 51/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5320 - accuracy: 0.7412
Epoch 52/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 53/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7410
Epoch 54/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 55/60
858/858 [==============================] - 3s 4ms/step - loss: 0.5331 - accuracy: 0.7412
Epoch 56/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7415
Epoch 57/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7399
Epoch 58/60
858/858 [==============================] - 2s 3ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 59/60
858/858 [==============================] - 3s 3ms/step - loss: 0.5317 - accuracy: 0.7415
Epoch 60/60
858/858 [==============================] - 3s 4ms/step - loss: 0.5322 - accuracy: 0.7419

In [206]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5600 - accuracy: 0.7268 - 429ms/epoch - 2ms/step
Loss: 0.5600034594535828, Accuracy: 0.7268221378326416

In [207]:
# Export our model to HDF5 file
nn.save("my_model.h5")